<footer id='footer' class="pt-5 footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-xs-12 about-company">
        <h2>Heading</h2>
        <p class="pr-5 text-white-50">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac ante mollis quam tristique convallis </p>
        <p>
          <div>
            <h5><a href="https://www.instagram.com/aromatic.for.home/"><i class="fab fa-instagram fa-2x"></i>aromatic.for.home</a></h5>
          </div>
        </p>
      </div>
      <div class="col-lg-6 col-xs-12 location">
        <h4 class="mt-lg-0 mt-sm-4">Location</h4>
        <p>22, Lorem ipsum dolor, consectetur adipiscing</p>
        <p class="mb-0"><i class="fa fa-phone mr-3"></i>(541) 754-3010</p>
        <p><i class="far fa-envelope mr-3"></i>info@hsdf.com</p>
      </div>
    </div>
    <div class="row mt-5 center">
      <div class="col copyright">
        <p class=""><small class="text-white-50">© 2019. All Rights Reserved.</small></p>
      </div>
    </div>
  </div>
</footer>

<!-- <footer class="footer">
  <div class="footer__wrapper">
    <p>(c)2020, Компания "Тензор"</p>
    <a href="#" class="">Правила пользования</a>
  </div>
</footer> -->
