{% extends 'base.html' %}
{% load static %}

{% block content %}


<div id="header" class="header"></div>

<div class="wrapper">

<!-- 	<aside class="aside">
	  <ul class="aside__categories">
	    <li><a href="#" class="aside__category aside__my-cources">Мои курсы</a></li>
	    <li><a href="#" class="aside__category">Будущий инженер-программист</a></li>
	    <li><a href="#" class="aside__category">Python-разработчик</a></li>
	  </ul>
	</aside> -->
	<div id="root"></div>

	<article id="carouselTop" class="carousel__wrapper">
	</article>

	<article id="carousel1" class="carousel__wrapper">
	</article>

	<article id="carousel2" class="carousel__wrapper">
	</article>

	<article id="carousel3" class="carousel__wrapper">
	</article>

	<article id="products" class="products">
	</article>
	<div id="btnScrollUpWrapper"></div>
</div>






{% endblock %}
