{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- <div class="fixed-crossbrowser-background"></div> -->
<nav class="navbar fixed-top navbar-expand-lg navbar-light">
  <a class="navbar-brand color-home " href="/">
    <img src="{% static 'img/aromatic89_logo.png' %}">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" data-toggle="collapse" data-target=".navbar-collapse.show">
    <ul  class="navbar-nav ml-auto text-right">
      <li class="nav-item active ">
        <a  class="nav-link" href="#parallax_test">Test naverh</a>
      </li>
      <li class="nav-item active">
        <a  class="nav-link" href="#footer1" >Test vniz</a>
      </li>

      <li class="nav-item">
        <div class="basket-container">
          {% if products_total_nmb %}
            <a href="{% url 'checkout' %}" style="text-decoration: none"><img src="{% static 'img/Shopping-basket-2.png' %}" width="40" height="40"></a>
          {% else %}
            <a href="{% url 'checkout' %}" style="text-decoration: none"><img id="basket-1" src="{% static 'img/Shopping-basket-1.jpg' %}" width="40" height="40"></a>
          {% endif %}

        </div>
      </li>

      <!-- <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li> -->
    </ul>

  </div>
</nav>

<!-- <div id="parallax_test" class="parallax-window" data-parallax="scroll" data-speed='0.0' data-image-src="{% static 'img/big_test.jpg' %}"> -->
  <hr>
  <hr>

  <div class="container" id="checkout_form">

    {% if products_total_nmb > 0 %}

        <form id="form_check" action="{% url 'checkoutprocess' %}">{% csrf_token %}
          <div class="row">
            <div class="col-lg-4 checkform-5">
                <div class=''>
                  <div class="col-lg-8">
                    <label>Имя</label>
                    <span class='form-error'>{{ form.name.errors }}</span>
      <!--              <input type="text" name="{{ form.name.html_name }}" id = "name1" class='form-control' value='{{ request.POST.name }}'>-->
                    <input type="text" id='name' name="{{ form.name.html_name }}" class='form-control' value='{{ request.POST.name }}' required placeholder="Введите ваше имя">
                  </div>
                </div>


                <div class="">
                  <div class="col-lg-8">
                    <hr>
                    <label>Телефон</label>
                    <span class='form-error'>{{ form.phone.errors }}</span>
      <!--              <input type="text" name="{{ form.phone.html_name }}" id= "phone" class='form-control' value='{{ request.POST.phone }}'>-->
                    <input type="text" id="phone" name="phone" class='form-control' value='' required placeholder="+7 (900) 123-45-67" pattern="^\+7\d{10}$">
                  </div>
                </div>

                <div class="">
                  <div class="col-lg-8">
                    <hr>
                    <label>Email</label>
                    <span class='form-error'>{{ form.email.errors }}</span>
                    <input type="email" id="email" name="email" class='form-control' value='' required placeholder="Введите Ваш Email">
                  </div>
                </div>

            </div>


            <div class="col-lg-8 checkform-5">
              <h3 class="text-center">Товары в корзине</h3>
                <table class="table text-center">
                  <thead>
                    <tr>
                      <th class="text-center">Название товара</th>
                      <th class="text-center">Количество</th>
                      <th class="text-center">Цена за единицу</th>
                      <th class="text-center">Общая цена</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for product_in_basket in products_in_basket %}
                      <input type="hidden" value="{{ product_in_basket.id }}" id='product_id' name='product_in_basket{{ product_in_basket.id }}'>
                      <tr>
                        <td>
                          {{ product_in_basket.product.name }}
                        </td>
                        <td colspan='1'>
                          <!-- <input style="width:30px;" type="number" height='10%' width='10%' size="1" type="text" value=""/> -->
                          <input type="number" min='1' value="{{ product_in_basket.nmb }}" style="width:30px;" class="product-in-basket-nmb" name='product_in_basket{{ product_in_basket.id }}'>
                          <button id="remove_item{{ product_in_basket.product.id }}" class="btn btn-link" action="{% url 'basket_adding' %}">{% csrf_token %}
                            <input type="image" src="{% static 'img/remove_item.png' %}">
                          </button>
                        </td>
                        <td>
                          <span class="product-price">
                            {{ product_in_basket.price_per_item }}
                          </span>
                        </td>
                        <td>
                          <span class="total-product-in-basket-amount">
                            {{ product_in_basket.total_price }}
                          </span>
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>



                <div class="text-right">
                  <b>Сумма заказа: </b> <span id="total_order_amount">0</span>
                </div>
                <hr>

                <div class="text-right">
                  <!-- <input type="submit" id="myButton" value="Заказать"/> -->
                 <!-- <button type="submit" id="sending_order" class="btn btn-primary btn-lg">Заказать</button> -->
                    <input class="btn btn-primary btn-lg" type="submit" name="submit" id="submit_check" value="Заказать">
                </div>



              <h3 style="color: white;" class="text-center"> После оформления заказа наш менеджер свяжется с Вами для дальнейшего оформления. </h3>

            </div>
          </div>
          {% for product_image in products_images %}
            {% if product_image.product.id in list_products_in_basket %}
              <span>
                {% include 'landing/product_item_in_checkout.html' %}
              </span>
            {% endif %}
          {% endfor %}
        </form>
      </div>
    {% else %}
    <div class='test2'>
      <h1 class="text-center"> В вашей корзине нет товаров! </h1>
    </div>
    {% endif %}
<!-- </div> -->

{% endblock %}


<!--{% load static %}-->
<!--<div class="col-lg-3">-->
<!--  <div class="product-item">-->
<!--    <div>-->
<!--      <a href='{% url 'product' product_image.product.id %}'>-->
<!--        <img src="{{product_image.image.url}}" class="responsive">-->
<!--      </a>-->
<!--    </div>-->
<!--    <div class="col-lg-1 remove-from-favorites">-->
<!--      <button id="remove_from_favorites{{product_image.product.id}}" action="{% url 'action_in_favorites' %}" class="btn btn-link">{% csrf_token %}-->
<!--        <input type="image" src="{% static 'img/remove_item.png' %}">-->
<!--      </button>-->
<!--    </div>-->
<!--    <div class="favorites-container">-->
<!--      <button id="in_favorites" type="button" class="btn btn-link">-->
<!--        <input type="image" src="{% static 'img/icons8-звезда-с-заливкой-30.png' %}">-->
<!--      </button>-->
<!--    </div>-->
<!--    {% if product_image.product.discount %}-->
<!--      <div class='discount-container'>-->
<!--        <span>{{ product_image.product.discount }}%</span>-->
<!--      </div>-->
<!--    {% endif %}-->
<!--    <div class="product-image-info">-->
<!--      <h4>{{ product_image.product.name}}</h4>-->
<!--      <p>-->
<!--        {{product_image.product.description|truncatechars_html:155}}-->
<!--      </p>-->
<!--      {% if product_image.product.discount %}-->
<!--        <div class="discount">-->
<!--              {{product_image.product.price}}-->
<!--        </div>-->
<!--        {{product_image.product.price_with_discount}}  руб.-->
<!--      {% else %}-->
<!--        {{product_image.product.price}} руб.-->
<!--      {% endif %}-->
<!--    </div>-->

<!--    <div>-->
<!--      {% if product_image.product.id in list_products_in_basket %}-->
<!--        <div class="add-to-card-btn">-->
<!--          <button id="in_basket" action="{% url 'basket_adding' %}" class="btn btn-primary">{% csrf_token %}-->
<!--            Добавлено в корзину-->
<!--          </button>-->
<!--        </div>-->
<!--      {% else %}-->
<!--        <div id="div{{product_image.product.id}}" class="add-to-card-btn">-->
<!--          <button id="id{{product_image.product.id}}" action="{% url 'basket_adding' %}" class="btn btn-success">{% csrf_token %}-->
<!--            Добавить в корзину-->
<!--          </button>-->
<!--        </div>-->
<!--      {% endif %}-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
